body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        margin: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 20px;
        text-align: center;
    }
header {
  background-color: #80a699;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}


footer {
  background-color: #414141;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

ol{
            margin-left: 30%; 
        }
li {
            text-align: left;
            margin-bottom: 10px;
            margin-right: 20px;
        }
ul{
        margin-left: 30%; 
    }
a {
  color: #1f7872;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(152, 237, 239);
  text-decoration: underline;
}
form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
}

button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
}

.contenido-juego {
        max-width: auto;
        margin: 20px;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
.video{
            margin-top: 15px;
            margin: auto;
            max-width: 420px;
            background-color: rgb(62, 86, 75);
            padding: 10px;
            color:#fff;
            text-align: center;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(54, 72, 68, 0.084);
        }
.tabla-juegos {
            margin-top: 15px;
            width: 100%;
            border-collapse: collapse;
            background-color: #d0fff1;
            
        }
.tabla-juegos th, .tabla-juegos td {
            border: 1px solid #025647;
            
            padding: 10px;
            text-align: left;
        }
.tabla-juegos th {
            background-color: #b0cec2;
            
        }
        
nav {
  margin-top: 15px;
  background-color: #ffffff;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #92a8a38e;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.menu a:hover {
  background-color: #3a755e;
  color:#ffffff;
}
